{% extends "materiales/base_material.html" %}

{% block content %}
    <div class="content">

    <div id="box">
          <div class="box-top"><h2>Material</h2></div>
              <div class="box-panel">
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <h3>
                Nombre: {{ form.nombre }}
                </h3>
                <br>
                <br>
                <h3>
                Cantidad: {{ form.cantidad }}
                </h3>
                <br>
                <br>
                <h3>
                Medida: {{ form.medida }}
                </h3>
                <br>
                <br>
                <h3>
                Preciounitario: {{ form.preciounitario }}
                </h3>
                <br>
                <br>
                <h3>
                Imagen: {{ form.imagen }}
                </h3>
                <br>
                <button type="submit">aceptar</button>
                </form>




              </div>

        </div>

    </div>





{% endblock %}
