<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <a href="{% url 'herramientas:crearherramienta' %}">NUEVA HERRAMIENTA</a>
    {%for hr in herramienta%}
    <LI>
      <a href="{% url 'herramientas:detalle_herramienta' hr.pk %}">
      {{hr.nombre}} |
      </a>
    <img src="{{ hr.imagen.url }}" alt="">
    </LI>
    {% endfor %}

</body>
</html>
